<header class="main__header">
    <h1>
        <a href="/">LOGO</a>
    </h1>
    <span class="space"></span>
    <nav class="navigation">
        <a href="/">소개</a>
        <a href="/">소개</a>
        <a href="/">소개</a>
        <a href="/">소개</a>
        <a href="/">소개</a>
    </nav>
</header>