{{!-- main slide --}}
<div class="main__slider">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/1920x600?text=slide1" alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/1920x600?text=slide2" alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/1920x600?text=slide3" alt="">
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
{{!-- end main slide --}}
{{ message }}