{{!-- main slide --}}
<div class="main__slider">
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/1920x600?text=slide1" alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/1920x600?text=slide2" alt="">
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/1920x600?text=slide3" alt="">
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
{{!-- ./main slide --}}

{{!-- 소식 --}}
<div class="container">
    <h4>소식</h4>
</div>

{{!-- 오시는 길 --}}
<div class="container map-wrapper">
    <h4>오시는 길</h4>
    <div id="map" style="width: 100%;height: 400px;"></div>
</div>

{{#> script}}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7002a9defecf6a9b366c9c9305dc8f38"></script>
<script>
    var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
    var options = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), //지도의 중심좌표.
        level: 3
    };

    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
</script>
{{/script}}