<!DOCTYPE html>
<html lang="ko">

<head>
    {{> _head }}
</head>

<body>
    {{> header }}
    <main>
        {{{ body }}}
    </main>
    {{> footer }}
    {{> _script }}
    {{#> script}}{{/script}}
</body>

</html>